* {
  margin: 0;
  padding: 0;
}
body {
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  text-align: center;
  margin-top: 20px;
}
.weather-container {
  width: 80vw;
  height: 80vh;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;

}
.weather-information {
  width: fit-content;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.196);
  backdrop-filter: blur(15px);
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.location-form {
  margin-bottom: 10px;
}
.search {
  padding: 10px;
  background-color: #000000d4;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.search:hover {
  background-color: rgba(0, 0, 0, 0.684);
}
input {
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.376);
  outline: transparent;
}
label {
  font-size: 20px;
}
.simple-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.simple-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.celsius-toogle-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
